@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #7b1217;
  color: #fff;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

a:hover {
  color: #ffb703;
}

.container {
  margin: 0 auto;
}

/* Profile */
.profile-info {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.profile-info img {
  border-radius: 50%;
  width: 300px;
}

.profile-text {
  margin: 0 40px;
  width: 100%;
}

.profile-text h1 {
  font-size: 3rem;
  margin: 10px 50px;
  text-transform: uppercase;
}

.profile-text h4 {
  font-size: 2rem;
  margin: 10px 50px;
}

.icons {
  margin: 10px 50px;
}

.icons a {
  margin-right: 20px;
}

.hire-container {
  display: flex;
  width: 100vw;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  color: #550202;
  font-weight: bold;

  background-color: #fff;
  align-self: center;
  padding: 20px 40px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .profile-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-text h1,
  h4 {
    text-align: center;
  }

  .icons {
    text-align: center;
  }
}